apiVersion: queues.mirrord.metalbear.co/v1alpha
kind: MirrordKafkaClientConfig
metadata:
  name: base-config
  namespace: mirrord
spec:
  properties:
  - name: bootstrap.servers
    value: kafka-kafka-bootstrap.default.svc:9092
  - name: client.id
    value: mirrord-operator
  - name: security.protocol
    value: PLAINTEXT
  - name: request.timeout.ms
    value: "20000"
  - name: connections.max.idle.ms
    value: "300000"